[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "*"
channels = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-safedelete = "*"
django-rest-swagger = "*"
django-multiselectfield = "*"
drf-renderer-xlsx = "*"
djangorestframework-queryfields = "*"
python-dateutil = "*"
redis = "*"
whitenoise = "*"
aiohttp = "*"
aioredis = "*"
altgraph = "*"
ambition-django-timezone-field = "*"
anyjson = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
auto-py-to-exe = "*"
autobahn = "*"
autopep8 = "*"
boto3 = "*"
botocore = "*"
bottle = "*"
bottle-websocket = "*"
certifi = "*"
cffi = "*"
chardet = "*"
constantly = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
daphne = "*"
defusedxml = "*"
dj-database-url = "*"
django-address = "*"
django-countries = "*"
django-crispy-forms = "*"
django-datetime-widget2 = "*"
django-heroku = "*"
django-language-field = "*"
django-model-utils = "*"
django-pagination = "*"
django-rest-auth = "*"
django-storages = "*"
django-timezone-field = "*"
django-widget-tweaks = "*"
djangorestframework-jwt = "*"
et-xmlfile = "*"
factory-boy = "*"
fleming = "*"
future = "*"
gevent = "*"
gevent-websocket = "*"
greenlet = "*"
gunicorn = "*"
hiredis = "*"
hyperlink = "*"
idna = "*"
importlib-metadata = "*"
incremental = "*"
inflection = "*"
iniconfig = "*"
install = "*"
isort = "*"
itypes = "*"
jmespath = "*"
lazy-object-proxy = "*"
macholib = "*"
mccabe = "*"
msgpack = "*"
msgpack-python = "*"
multidict = "*"
numpy = "*"
oauthlib = "*"
openapi-codec = "*"
openpyxl = "*"
pandas = "*"
pep8 = "*"
pluggy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
py = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-django = "*"
python-decouple = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
s3transfer = "*"
service-identity = "*"
simplejson = "*"
six = "*"
sqlparse = "*"
stripe = "*"
termcolor = "*"
text-unidecode = "*"
toml = "*"
txaio = "*"
typed-ast = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
websocket = "*"
whichcraft = "*"
wrapt = "*"
yarl = "*"
zipp = "*"
"zope.event" = "*"
"zope.interface" = "*"
markdown = "*"
automat = "*"
eel = "*"
faker = "*"
jinja2 = "*"
markupsafe = "*"
pillow = "*"
pyopenssl = "*"
twisted = "*"
colorama = "*"
selenium = "*"
pyjwt = "*"
djangochannelsrestframework = "*"
asgi-redis = "*"
channels-redis = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
asgiref = "==3.3.2"

[dev-packages]

[requires]
python_version = "3.9"
