[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pipreqs = "*"
drf-yasg = "*"
aiohttp = "*"
aioredis = "*"
altgraph = "*"
ambition-django-timezone-field = "*"
aniso8601 = "*"
anyjson = "*"
appdirs = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
auto-py-to-exe = "*"
autobahn = "*"
autopep8 = "*"
boto3 = "*"
botocore = "*"
bottle = "*"
bottle-websocket = "*"
certifi = "*"
cffi = "*"
channels-redis = "*"
chardet = "*"
click = "*"
colorama = "*"
constantly = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
cryptography = "*"
defusedxml = "*"
dill = "*"
distlib = "*"
dj-database-url = "*"
django-address = "*"
django-countries = "*"
django-crispy-forms = "*"
django-datetime-widget2 = "*"
django-graphql-auth = "*"
django-graphql-jwt = "*"
django-heroku = "*"
django-language-field = "*"
django-model-utils = "*"
django-multiselectfield = "*"
django-pagination = "*"
django-rest-auth = "*"
django-rest-swagger = "*"
django-storages = "*"
django-timezone-field = "*"
django-widget-tweaks = "*"
djangochannelsrestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-queryfields = "*"
djangorestframework-simplejwt = "*"
drf-renderer-xlsx = "*"
et-xmlfile = "*"
factory-boy = "*"
filelock = "*"
fleming = "*"
future = "*"
gevent = "*"
gevent-websocket = "*"
googletrans = "*"
graphene = "*"
graphene-django = "*"
graphql-core = "*"
graphql-relay = "*"
greenlet = "*"
gunicorn = "*"
h11 = "*"
h2 = "*"
hiredis = "*"
hpack = "*"
hstspreload = "*"
httpcore = "*"
httpx = "*"
hyperframe = "*"
hyperlink = "*"
idna = "*"
importlib-metadata = "*"
incremental = "*"
inflection = "*"
iniconfig = "*"
install = "*"
isort = "*"
itsdangerous = "*"
itypes = "*"
jmespath = "*"
lazy-object-proxy = "*"
macholib = "*"
mccabe = "*"
msgpack = "*"
msgpack-python = "*"
multidict = "*"
numpy = "*"
oauthlib = "*"
openapi-codec = "*"
openpyxl = "*"
pandas = "*"
path = "*"
pathlib = "*"
pep8 = "*"
pipenv = "*"
pluggy = "*"
promise = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"
pyparsing = "*"
python-dateutil = "*"
python3-openid = "*"
pytz = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
rfc3986 = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
s3transfer = "*"
selenium = "*"
service-identity = "*"
simplejson = "*"
singledispatch = "*"
six = "*"
sniffio = "*"
sqlparse = "*"
termcolor = "*"
text-unidecode = "*"
toml = "*"
txaio = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
websockets = "*"
whichcraft = "*"
whitenoise = "*"
wrapt = "*"
yarl = "*"
zipp = "*"
"zope.event" = "*"
"zope.interface" = "*"
asgi-redis = "*"
automat = "*"
django-abstract-relations = "*"
eel = "*"
faker = "*"
jinja2 = "*"
markdown = "*"
markupsafe = "*"
pillow = "*"
pyjwt = "*"
pyopenssl = "*"
rx = "*"
twisted = "*"
werkzeug = "*"
django = "*"
asgiref = "*"
django-cors-headers = "*"
django-safedelete = "*"
channels = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.9"
